@import "vars";

.auth {
    background-color: $auth-form-background-color;
    padding: 1rem;
    box-shadow: 0 1px 2px rgba(00, 00, 00, 0.10);
    border-radius: 10px;

    & .form__title {
        margin-block-end: 1rem;
    }

    .field {
        margin-block-end: 1rem;
    }

    input {

    }

    label {
        margin-block-end:0.5rem;
    }

    & .error {
        padding-block: 0.5rem;
        color: red;
    }

    a {
        margin-block-end:0.5rem;
    }

    & .form__link--tiny{
        font-size: 0.75rem;
    }

    max-width: $auth-form-max-width;
    width: 100%;

    &__container {
        &--button {
            margin-block-end: $m-spacer;
        }

        &--link {
            display: flex;
            justify-content: space-between;
        }
    }

    //&__container

    &__field {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    &__container {
        display: flex;
        justify-content: center;
    }
}
