@import "vars";

.auth {
    max-width: $auth-form-max-width;
    width: 100%;

    &__container {
        &--button {
            margin-block-end: $m-spacer;
        }

        &--link {
            display: flex;
            justify-content: space-between;
        }
    }

    //&__container

    &__field {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    &__container {
        display: flex;
        justify-content: center;
    }
}
