// FONTFACE
@font-face {
    font-family: "Lato";
    src: url('../fonts/Lato-Regular.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url('../fonts/Lato-Medium.ttf') format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url('../fonts/Lato-Semibold.ttf') format("truetype");
    font-weight: 600;
    font-style: normal;
}

//  COLOR
$background-color: #FFF9F3;
$nav-color: #FFD7B1;
$primary-app-color: #FF6100;
$primary-app-color--lighten: #FFD7B1;
$primary-font-color: Black;
$white-font-color: White;

//  SPACER
$xs-spacer: 4px;
$s-spacer: 8px;
$m-spacer: 16px;
$l-spacer: 24px;
$xl-spacer: 32px;
$xxl-spacer: 40px;
$xxxl-spacer: 48px;

//  AUTRE
$auth-form-max-width: 400px;
$auth-form-background-color: white;
$nav-width: 250px;
$menu-title-color: #656565;
$menu-link-active-color:#FFF9F3;

//  FONT
@mixin font {
    font-family : Lato, sans-serif;
    font-weight: 400;
}

@mixin medium {
    font-family : Lato, sans-serif;
    font-weight: 500;
}

@mixin semiBold {
    font-family : Lato, sans-serif;
    font-weight: 600;
}

@mixin h1 {
    @include font;
    font-size: 1.625rem;
}

@mixin h2 {
    @include font;
    font-size: 1.25rem;
}

@mixin p {
    @include font;
    font-size: 1rem;
}

@mixin tinyText {
    @include font;
    font-size: 0.75rem;
}

@mixin a {
    text-decoration: underline;
    color: #005CE7;
}

// VAR FOR MEDIA QUERIES
$maxWidthPhone: 380px;
$maxWidthLargePhone: 767px;
$maxWidthLargeTablet: 1220px;
$maxWidthLargeLaptop: 1800px;

$breakpoints: (
    'phone': (max-width: calc(30rem)), //480px
    'large-phone': (min-width: calc(30rem + 1px)), //481px
    'tablet': (min-width: calc(48rem - 1px)), // //767px
    'large-tablet': (min-width: calc(60rem)), // //960px
    'laptop': (min-width: 80rem), //1280px
    'large-laptop': (min-width: 100rem), //1600px
    'desktop': (min-width: 120rem) //1920px
) !default;


@mixin mq($breakpoint) {
    // If the key exists in the map
    @if map-has-key($breakpoints, $breakpoint) {
        // Prints a media query based on the value
        @media #{inspect(map-get($breakpoints, $breakpoint))} {
            @content;
        }
    }
        // If the key doesn't exist in the map
    @else {
        @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
    }
}
