@import "../vars.scss";

.app-layout {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: minmax(0, $nav-width) 1fr;
    background-color: $background-color;

    &__container:last-child {
        margin-inline: 2rem;
        margin-block-start: 3rem;
    }
}

.profil {
    display: flex;
    justify-content: flex-end;
    height: min-content;
    &__card{
        background-color: $secondary-background-color;
        padding: 1rem;
        border-radius: 10px;
    }
}
