@import "../config/vars";

.guest-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: $background-color;

    &__container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__container:first-child {
        margin-block-end: $l-spacer;
    }

    &__title {
        color: black;
    }

    &__link {
        text-decoration: none;
    }
}
